body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.title{
    color: black!important;
}
.icon-lg{
    font-size: 55px!important;
    color: #3F51B5;
}
a {
  color: #00B7FF;
}

.modal-graphic{
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    margin-top: 5px;
    z-index: 100;
    padding: 10px;

}
.modal-content{
    padding-top: 0;
    margin-top: 170px;
    position: relative;
}


#copyright{
    margin-bottom: 0px;
}

.modal p{
    font-size: medium;
    font-weight: 400;
    font-family: "Roboto", sans-serif;


}
.card-content{
    position: relative;
    margin-bottom: 0;
    bottom: 0;
}
.features-text{
    font-size: medium;
    font-weight: 500;
}
.card .card-content{
    position: relative;
    text-align: left;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
.card-image{
    position: relative;
    width: 100%;
    height: 100%;
}
.activator{
    cursor: pointer;
    position: absolute;
    z-index: 0;
}
.card{
    padding: 5px;
    margin: 30px;
}
.card .card-image{
    border-bottom: 1px solid rgba(83, 76, 76, 0.37);
}
.card .card-action{
    padding: 0;
    border-top: 1px solid rgba(83, 76, 76, 0.25);

}

.card-action .container{

    margin-right: auto;
    margin-left: auto;
}
.card-action .container .row{
    padding: 10px;
    margin-bottom: 0;
}
#about p{
    font-size: large;
    font-weight: 200;
}
.features-text{
    font-size: 1.3em;
}
#team{
    position: static;
}
.background{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8836f+40,fbe288+60 */
    background: #e8836f; /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(251, 226, 136, 0.80) 50%, rgba(232, 131, 111, 0.80) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(455deg, rgba(251, 226, 136, 0.80) 50%, rgba(232, 131, 111, 0.81) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(251, 226, 136, 0.80) 50%, rgba(232, 131, 111, 0.80) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8836f', endColorstr='#fbe288',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.upper-half{
    position: absolute;
    top:0;
    height: 50%;
    width: 100%;
    background: #e8836f; /* Old browsers */
    background: -moz-linear-gradient(135deg,  rgba(251, 226, 136, 0.8) 50%, rgba(232, 131, 111, 0.8) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(135deg, rgba(251, 226, 136, 0.8) 50%, rgba(232, 131, 111, 0.8) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(251, 226, 136, 0.8) 50%, rgba(232, 131, 111, 0.8) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8836f', endColorstr='#fbe288',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    z-index: 0;
}
.lower-half{
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
    background: #e8836f; /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(251, 226, 136, 0.80) 50%, rgba(232, 131, 111, 0.80) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(455deg, rgba(251, 226, 136, 0.80) 50%, rgba(232, 131, 111, 0.81) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(251, 226, 136, 0.80) 50%, rgba(232, 131, 111, 0.80) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8836f', endColorstr='#fbe288',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    z-index: 0;
}
#about{
    padding-top: 40px;
}
.professionals{
    z-index: 10;
}
#main-heading{
    top: 100px;
    position: absolute;
}
section{
    padding: 50px;
}
section .section{
    padding: 50px;
}
#contact{
    background: white;
}
.footer-copyright{
    background-color: #1b2132;
    padding: 5px;
    font-size: larger;
    font-weight: 400;
    color: #ffffff;
}
.social{
    padding: 0;
}
.social img{
    padding-left: 20px;
}
.navbar.navbar, .navbar-default.navbar {
    color: black;
    font-weight: 300;
    font-size: x-large;
}
#sponsors a{
    text-decoration: none;
    color: inherit;
}
#sponsors a:hover{
    color: black;
}
#sponsors a:active{
    color: #000000;
}