body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.title{
    color: black!important;
}
.icon-lg{
    font-size: 55px!important;
    color: #3F51B5;
}
a {
  color: #00B7FF;
}
#copyright{
    margin-bottom: 0px;
}
#graphic{
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
}
.modal p{
    font-size: medium;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
